apiVersion: v1
data:
  admin-user: dmFsdWU=
  admin-password: dmFsdWU=
kind: Secret
metadata:
  name: grafana-secrets
  namespace: guardian
type: Opaque
---
apiVersion: v1
data:
  GF_AUTH_GOOGLE_CLIENT_ID: dmFsdWU=
  GF_AUTH_GOOGLE_CLIENT_SECRET: dmFsdWU=
  GF_AUTH_GENERIC_OAUTH_CLIENT_ID: dmFsdWU=
  GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET: dmFsdWU=
kind: Secret
metadata:
  name: grafana-google-auth
  namespace: guardian
type: Opaque