apiVersion: v1
items:
- apiVersion: v1
  data:
    pregod: rediss://xxx:6379
  kind: ConfigMap
  metadata:
    name: redis-addr
    namespace: guardian
- apiVersion: v1
  data:
    pregod: cGFzc3dvcmQ=
  kind: Secret
  metadata:
    name: redis-password
    namespace: guardian
  type: Opaque
kind: List
metadata:
  resourceVersion: ""
  selfLink: ""
