apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - alert-svc.yaml
  - secret.yaml
helmCharts:
  - name: grafana
    releaseName: grafana
    repo: https://grafana.github.io/helm-charts
    valuesFile: values.yaml
    version: x.x.x
  # - name: grafana-mcp
  #   releaseName: grafana-mcp
  #   namespace: guardian
  #   repo: https://grafana.github.io/helm-charts
  #   version: x.x.x
  #   valuesInline:
  #     grafana:
  #       url: https://grafana.naturalselectionlabs.com
  #       apiKeySecret:
  #         name: grafana-mcp
  #         key: token
  #     ingress:
  #       enabled: true
  #       className: alb
  #       annotations:
  #         cert-manager.io/cluster-issuer: "cloudflare"
  #       hosts:
  #         - host: mcp-grafana.naturalselectionlabs.com
  #           paths:
  #             - path: /
  #               pathType: Prefix
  #       tls:
  #         - secretName: grafana-mcp-tls
  #           hosts:
  #             - mcp-grafana.naturalselectionlabs.com
