injector:
  metrics:
    enabled: false

server:
  volumes:
    - name: vault-unseal-key
      secret:
        defaultMode: 420
        secretName: vault-unseal-key
  volumeMounts:
    - name: vault-unseal-key
      mountPath: /unseal
      readOnly: true
  postStart:
    - sh
    - -c
    - |
      sleep 10
      for keyfile in /unseal/key.*; do
        vault operator unseal "$(cat "$keyfile")"
      done
  resources:
    requests:
      memory: 256Mi
      cpu: 100m
    limits:
      memory: 512Mi
      cpu: 350m

  ingress:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: cloudflare
    ingressClassName: alb
    hosts:
      - host: vault-unseal.naturalselectionlabs.com
    tls:
      - secretName: vault-unseal-tls
        hosts:
          - vault-unseal.naturalselectionlabs.com

  authDelegator:
    enabled: true

  dataStorage:
    enabled: true
    size: 20Gi
    storageClass: alicloud-disk-essd

  standalone:
    config: |
      ui = true

      listener "tcp" {
        tls_disable = 1
        address = "[::]:8200"
        cluster_address = "[::]:8201"
      }
      storage "file" {
        path = "/vault/data"
      }

      telemetry {
        prometheus_retention_time = "30s"
        disable_hostname = true
      }

# Vault UI
ui:
  # True if you want to create a Service entry for the Vault UI.
  #
  # serviceType can be used to control the type of service created. For
  # example, setting this to "LoadBalancer" will create an external load
  # balancer (for supported K8S installations) to access the UI.
  enabled: true
  publishNotReadyAddresses: true
  # The service should only contain selectors for active Vault pod
  activeVaultPodOnly: false
  serviceType: "ClusterIP"
  serviceNodePort: null
  externalPort: 8200
  targetPort: 8200

  # The externalTrafficPolicy can be set to either Cluster or Local
  # and is only valid for LoadBalancer and NodePort service types.
  # The default value is Cluster.
  # ref: https://kubernetes.io/docs/concepts/services-networking/service/#external-traffic-policy
  externalTrafficPolicy: Cluster

  #loadBalancerSourceRanges:
  #   - 10.0.0.0/16
  #   - 1.78.23.3/32

  # loadBalancerIP:

  # Extra annotations to attach to the ui service
  # This can either be YAML or a YAML-formatted multi-line templated string map
  # of the annotations to apply to the ui service
  annotations: {}
